.auth-msg{margin-top:10px;padding:8px 30px;font-size:12px;line-height:13px;color:#333}
.auth-error{border:1px solid #ffe1cc;background:url("http://img02.taobaocdn.com/tps/i2/T1zSeXFgVaXXcu5FDa-17-17.png") 7px 5px no-repeat #ffefe3}
