labelWidth = 130px
.control-group
  margin-top: 18px
  .control-label
    width: labelWidth
  .controls
    margin-left: labelWidth + 14px
  em
    color: #FF6600
    vertical-align: middle
    margin-right: -6px
  .text-input
    border-radius: 0
  .textarea
    border-radius: 0
  .radio
    padding-left: 0