
/* line 1 : C:\Users\文浩\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 2 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group{margin-top:18px;}

/* line 4 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group .control-label{width:130px}

/* line 6 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group .controls{margin-left:144px}

/* line 8 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group em{color:#f60;vertical-align:middle;margin-right:-6px}

/* line 12 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group .text-input{border-radius:0;height:16px}

/* line 15 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group .textarea{border-radius:0}

/* line 17 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group .radio{padding-left:0}

/* line 19 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\base.styl */
.control-group .btn-wrapper{padding-top:20px;border-top:1px solid #f4f4f4;margin-top:10px}
