labelWidth = 130px
.control-group
  margin-top: 18px
  .control-label
    width: labelWidth
  .controls
    margin-left: labelWidth + 14px
  em
    color: #FF6600
    vertical-align: middle
    margin-right: -6px
  .text-input
    border-radius: 0
    height: 16px
  .textarea
    border-radius: 0
  .btn-wrapper
    padding-top: 20px
    border-top: 1px solid #F4F4F4
    margin-top: 10px