
/* line 1 : C:\Users\文浩\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\radio.styl */
.ks-radio,.ks-radio-hover,.ks-radio-selected,.ks-radio-disabled{background:url("http://img03.taobaocdn.com/tps/i3/T1Xj_tXbxeXXaKS.fo-232-65.png") -8px -33px;cursor:pointer;height:17px;line-height:18px;vertical-align:middle;width:17px;display:inline-block;outline:none}

/* line 10 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\radio.styl */
.ks-radio-disabled{background-position:-153px -33px}

/* line 13 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\radio.styl */
.ks-radio-hover{background-position:-170px -33px}

/* line 16 : C:\www\htdocs\gallery\butterfly\1.4\theme\default\radio.styl */
.ks-radio-selected{background-position:-80px -33px}
